.upload-button, .inscription-button, .login-button {
    -fx-background-color: #19192a; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
}

.upload-button:hover, .inscription-button:hover, .login-button:hover {
    -fx-background-color: #a5e4dc; /* Couleur de fond au survol */
}

TextField, Label {
    -fx-font-size: 14px; /* Taille de la police */
}
#consulterReservation,
#modifieru,
#suppeimerus,
#uploadButton,
#inscription,
#ajouter {
    -fx-background-color: #19192a; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
}

#modifieru:hover,
#uploadButton:hover,
#inscription:hover,
#suppeimerus:hover,

#ajouter:hover {
    -fx-background-color: #a5e4dc; /* Couleur de fond au survol */
}

#image_um,
#image_am,
#image_a {
    -fx-font-size: 14px; /* Taille de la police */
}

#image_um:editable,
#image_am:editable,
#image_a:editable {
    -fx-background-color: transparent; /* Couleur de fond transparente */
    -fx-control-inner-background: transparent; /* Couleur de fond du champ de texte transparente */
    -fx-background-insets: 0; /* Pas de marge de fond */
}

#cin_a,
#nom_a,
#prenom_a,
#email_a,
#mp_a,
#cin_um,
#nom_um,
#prenom_um,
#email_um,
#mp_um,
#cin_am,
#nom_am,
#prenom_am,
#email_am,
#mp_am {
    -fx-font-size: 14px; /* Taille de la police */
}
.rounded-image {
    -fx-stroke-width: 2; /* Changer l'épaisseur de la bordure si nécessaire */
    -fx-stroke: white; /* Couleur de la bordure */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 1 ); /* Ajouter une ombre si nécessaire */
    -fx-background-color: transparent; /* Couleur de fond */
    -fx-background-radius: 50%; /* Rendre le coin arrondi */
    -fx-border-radius: 50%; /* Rendre le coin de la bordure arrondi */
}

/* styles.css */


/* style des cellules */
.table-cell {
    -fx-alignment: CENTER; /* alignement centré du contenu */
    -fx-padding: 5px; /* marge interne */
}

/* style des en-têtes de colonnes */
.table-column {
    -fx-alignment: CENTER; /* alignement centré du texte */
    -fx-font-weight: bold; /* texte en gras */
}

/* style des lignes de tableau alternées */
.table-row-cell:odd {
    -fx-background-color: #f0f0f0; /* couleur de fond des lignes impaires */
}

/* style de la sélection */
.table-row-cell:selected {
    -fx-background-color: #3366CC; /* couleur de fond de la sélection */
    -fx-text-fill: white; /* couleur du texte de la sélection */
}


.label {
    -fx-text-fill: white;
}
#image_um {
    -fx-text-fill: transparent;
}


/* TABLES */
/* TABLES */

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: black; /* Bordure noire */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-style: solid; /* Style de la bordure */
}

.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
    -fx-border-color: transparent; /* Aucune bordure pour les entêtes des colonnes */
}

.table-view .column-header-background{
    -fx-background-color: -hlight-gradient;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: white; /* Couleur du texte en blanc */
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: -tertiary;
}

.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:highlighted {
    -fx-background-color: -primary;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-row-cell:selected {
    -fx-background-color: -tertiary;
    -fx-text-background-color: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  -hlight-gradient;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
